.main-theme {
    --main-text-color:#263036;
    --name-color: #FFFFFF;
    --surname-color-link: #1C2E8C;
    --header-background-color: #86A3B4;
    --border-color: #1E1E1E;
    --link-color-hover: #3550d6;
}