body {
    font-family: IBM Plex Sans, Arial, Helvetica, sans-serif;
    margin: 0;
    max-width: 1024px;
    color: #3B4256;
    font-weight: 600;
}

main {
    position: fixed;
    top: calc(50% - 225px);
    left: calc(50% - 275px);
    animation: sized 2s ease-in-out;
}

h1 {
    margin-top: 0;
}

input, select, textarea {
    appearance: none;
    border: none;
    border-radius: 4px;
    height: 24px;
    width: calc(100% - 24px);
    padding: 12px;
    background-color: #F8FAFC;
    font-size: 16px;
    color: #3B4256;
}

main {
    max-width: 1024px;
    margin: 50px;
    padding: 40px;
    border: 1px solid #F2ECFF;
    border-radius: 12px;
}

h1 {
    margin-top: 0;
    font-weight: bold;
}

h3 {
    color: #B8BCCA;
    margin-bottom: 5px;
}

table {
    margin: 0;
}

form {
    margin-top: 20px;
    width: 100%;
}

fieldset {
    display: flex;
    flex-direction: column;
    border: 2px solid #F2ECFF;
    border-radius: 12px;
}

fieldset > * {
    display: block;
}

legend {
    font-size: 1.17em;
    color: #B8BCCA;
}

label {
    margin-top: 10px;
    font-size: 16px;
    color: #6F7482;
}


textarea {
    width: 400px;
    height: 150px;
    border: 0;
    color: #3B4256;
}

span {
    color: red;
}

input[type="submit"] {
    margin-top: 20px;
    height: 50px;
    width: 100%;
    background: #0048D9;
    color: white;
    font-size: 20px;
    border: none;
}

input[type="submit"]:hover {
    cursor: pointer;
    background: #002266;
}

select {
    background: url(/images/Vector.svg) no-repeat 97% 50%,
                #F8FAFC;

    height: 50px;
    width: 100%;
}

select:invalid {
    color: #B8BCCA;
    border: 1px solid red;
}

select:valid, input:valid {
    border: 1px solid #0E6245;
}

input:focus, select:focus, textarea:focus {
    border: 1px solid #0048D9;
}

input:invalid {
    border: 1px solid red;
}

input[type="email"]:invalid+.error,
select:invalid+.error {
    display: block;
}

input[type="email"]:valid ~ .success,
select:valid ~ .success {
    display: block;
}

::placeholder {
    font-size: 16px;
    color: #B8BCCA;
}
.contacts {
    border: 2px solid #F2ECFF;
    border-radius: 12px;
    padding: 20px;  
}

.contacts td.data {
    padding-left: 250px;
    padding-right: 50%;
}
.success {
    display: none;
    font-size: 12px;
    color: #0E6245;
}
.error {
    display: none;
    font-size: 12px;
    color: red;
}

@keyframes sized {
    0%{
        transform: scale(2);
        opacity: 0;
    }
    50%{
        transform: scale(0.5);
        opacity: 0.5;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}
